<a href="https://colab.research.google.com/github/urous3814/Sorabol-SharingCamp/blob/main/09/13/Colab_3day.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import matplotlib.font_manager as fm 
!apt-get install fonts-nanum 
fm._rebuild()

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following NEW packages will be installed:
  fonts-nanum
0 upgraded, 1 newly installed, 0 to remove and 40 not upgraded.
Need to get 9,604 kB of archives.
After this operation, 29.5 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/universe amd64 fonts-nanum all 20170925-1 [9,604 kB]
Fetched 9,604 kB in 2s (5,865 kB/s)
Selecting previously unselected package fonts-nanum.
(Reading database ... 148492 files and directories currently installed.)
Preparing to unpack .../fonts-nanum_20170925-1_all.deb ...
Unpacking fonts-nanum (20170925-1) ...
Setting up fonts-nanum (20170925-1) ...
Processing triggers for fontconfig (2.12.6-0ubuntu2) ...

In [2]:
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm 
fontpath='/usr/share/fonts/truetype/nanum/NanumBarunGothic.ttf' 
font_name=fm.FontProperties(fname=fontpath).get_name() 
plt.rc('font',family=font_name) 
plt.rc('axes', unicode_minus=False)

In [4]:
import pandas as pd
import numpy as np

df = pd.read_csv('/content/drive/MyDrive/colab/202106_202106_연령별인구현황_월간.csv', encoding='cp949', thousands = ',')
df

                          행정구역  ...  2021년06월_여_100세 이상
0          서울특별시  (1100000000)  ...                1850
1       서울특별시 종로구 (1111000000)  ...                  36
2        서울특별시 중구 (1114000000)  ...                  43
3       서울특별시 용산구 (1117000000)  ...                  64
4       서울특별시 성동구 (1120000000)  ...                  52
..                         ...  ...                 ...
288      경상남도 거창군 (4888000000)  ...                  19
289      경상남도 합천군 (4889000000)  ...                  27
290      제주특별자치도  (5000000000)  ...                 186
291   제주특별자치도 제주시 (5011000000)  ...                 121
292  제주특별자치도 서귀포시 (5013000000)  ...                  65

[293 rows x 310 columns]

In [ ]:
df = df[df['2021년06월_계_총인구수'] != 0]
df

                          행정구역  ...  2021년06월_여_100세 이상
0          서울특별시  (1100000000)  ...                1850
1       서울특별시 종로구 (1111000000)  ...                  36
2        서울특별시 중구 (1114000000)  ...                  43
3       서울특별시 용산구 (1117000000)  ...                  64
4       서울특별시 성동구 (1120000000)  ...                  52
..                         ...  ...                 ...
288      경상남도 거창군 (4888000000)  ...                  19
289      경상남도 합천군 (4889000000)  ...                  27
290      제주특별자치도  (5000000000)  ...                 186
291   제주특별자치도 제주시 (5011000000)  ...                 121
292  제주특별자치도 서귀포시 (5013000000)  ...                  65

[278 rows x 310 columns]

In [ ]:
df[df['행정구역'].str.contains('노원구')]

                      행정구역  2021년06월_계_총인구수  ...  2021년06월_여_99세  2021년06월_여_100세 이상
11  서울특별시 노원구 (1135000000)           515997  ...              37                 100

[1 rows x 310 columns]